.App {
  text-align: center;
}

.Clocks {
  display: flex;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Clock {
  font-weight: 700;
  font-size: 64px;
  font-size: 10vw;
  color: orange;
  justify-content: center;

  .Small {
    font-size: 7vw;
  }
}
